import datetime

# Number of fish to feed
TANK1_FISH_COUNT = 25
TANK2_FISH_COUNT = 50

# Start days
TANK1_START_DATE = datetime.date(2016,7,20)
TANK2_START_DATE = datetime.date(2017,12,30)

# Feeding Times
TANK1_FEED_TIMES = [ '00:00', '04:00', '08:00', '12:00', '16:00', '20:00' ]
TANK2_FEED_TIMES = [ '02:00', '06:00', '10:00', '14:00', '18:00', '22:00' ]

# Fish feeder timing, based on different fish foods.
# Timing is seconds per gram of food.
# These will need to be changed depending on individual feeder parameters
TANK1_FEED_RATES = { 'AM300': 0.42,
                     'AM400': 0.31,
                     'AM4000': 0.90 }
TANK2_FEED_RATES = { 'AM300': 0.42,
                     'AM400': 0.31,
                     'AM4000': 0.68 }

# Refresh Times
LCD_REFRESH = 5         # how frequently the LCD display is updated
EQUIP_REFRESH = 5       # how frequently the equipment status is updated
TEMP_REFRESH = 5*60     # how frequently the temperatures are read and recorded
LOGGING_REFRESH = 1*60	# how frequently the status is logged to the db
PH_REFRESH = 1*60       # how frequently the main taik pH is read and recorded

# MQTT

mqtt_host = '<mqtt-broker>'
mqtt_port = 1883
mqtt_user = '<mqtt-user>'
mqtt_pass = '<mqtt-password>'
mqtt_base_topic = 'rasponics/'
mqtt_client = 'Rasponics''
